In [1]:
import pandas as pd

In [2]:
# Location of data sources
folder_path = "../Data/2016_GCP_SA2/2016_GCP_SA2/"
file_name = "2016Census_G02_AUS_SA2.csv"
output_folder = "../Data/"
output_name = "census_selected_statistics.csv"
key_columns = ["SA2_MAINCODE_2016"]
file_columns = ["Median_age_persons","Median_mortgage_repay_monthly","Median_tot_prsnl_inc_weekly","Median_rent_weekly",
                "Median_tot_fam_inc_weekly","Average_num_psns_per_bedroom","Median_tot_hhd_inc_weekly","Average_household_size"]
data_columns = key_columns + file_columns
file_path = folder_path + file_name

In [3]:
def load_csv_data(data_path, columns = [], skip_rows = 0):
    data = pd.read_csv(data_path, skiprows = skip_rows)
    if len(columns) > 0:
        data = data.loc[:,columns]
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis='columns', inplace=True)
    return data

def missing_values(data, columns = []):
    results = pd.DataFrame(columns = ["column_name", "total_missing"])
    for column in columns:
        col = column
        missing_value = data[column].isnull().sum()
        result = {"column_name": [col],
                  "total_missing": [missing_value]}
        result_df = pd.DataFrame(result, columns = ["column_name", "total_missing"])
        results = pd.concat([results, result_df])
    return results

In [4]:
df = load_csv_data(file_path, data_columns)

In [5]:
# Should be ~2310 as this is how many SA's there are.
len(df)

2310

In [6]:
df.head()

,sa2_maincode_2016,median_age_persons,median_mortgage_repay_monthly,median_tot_prsnl_inc_weekly,median_rent_weekly,median_tot_fam_inc_weekly,average_num_psns_per_bedroom,median_tot_hhd_inc_weekly,average_household_size
0,101021007,49,1582,594,250,1432,0.8,1083,2.3
1,101021008,37,1928,812,300,2007,0.8,1692,2.6
2,101021009,36,1733,837,280,1844,0.9,1400,2.1
3,101021010,35,1842,883,270,2001,0.9,1434,2.2
4,101021011,40,2405,1076,383,2672,0.8,2478,2.9

In [7]:
df_columns = list(df)
missing_df = missing_values(df, df_columns)
missing_df

                     column_name total_missing
0              sa2_maincode_2016             0
0             median_age_persons             0
0  median_mortgage_repay_monthly             0
0    median_tot_prsnl_inc_weekly             0
0             median_rent_weekly             0
0      median_tot_fam_inc_weekly             0
0   average_num_psns_per_bedroom             0
0      median_tot_hhd_inc_weekly             0
0         average_household_size             0

In [8]:
# Write data to disk
df.to_csv(output_folder + output_name, index = False)