In [1]:
import pandas as pd

In [2]:
# Location of data sources
folder_path = "../Data/2016_GCP_SA2/2016_GCP_SA2/"
file_name = "2016Census_G46B_AUS_SA2.csv"
output_folder = "../Data/"
output_name = "census_education_level.csv"
key_columns = ["SA2_MAINCODE_2016"]
file_columns = ["P_Tot_Total","P_PGrad_Deg_Total","P_GradDip_and_GradCert_Total","P_BachDeg_Total","P_AdvDip_and_Dip_Total",
               "P_Cert_III_IV_Total","P_Cert_I_II_Total","P_Cert_Lev_Tot_Total"]
data_columns = key_columns + file_columns
file_path = folder_path + file_name

In [3]:
def load_csv_data(data_path, columns = [], skip_rows = 0):
    data = pd.read_csv(data_path, skiprows = skip_rows)
    if len(columns) > 0:
        data = data.loc[:,columns]
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis='columns', inplace=True)
    return data

def missing_values(data, columns = []):
    results = pd.DataFrame(columns = ["column_name", "total_missing"])
    for column in columns:
        col = column
        missing_value = data[column].isnull().sum()
        result = {"column_name": [col],
                  "total_missing": [missing_value]}
        result_df = pd.DataFrame(result, columns = ["column_name", "total_missing"])
        results = pd.concat([results, result_df])
    return results

In [4]:
df = load_csv_data(file_path, data_columns)

In [5]:
# Should be ~2310 as this is how many SA's there are.
len(df)

2310

In [7]:
df.head()

,sa2_maincode_2016,p_tot_total,p_pgrad_deg_total,p_graddip_and_gradcert_total,p_bachdeg_total,p_advdip_and_dip_total,p_cert_iii_iv_total,p_cert_i_ii_total,p_cert_lev_tot_total
0,101021007,2155,170,77,413,274,558,38,685
1,101021008,3543,197,127,584,553,1254,85,1478
2,101021009,5563,464,215,1281,805,1483,121,1774
3,101021010,2498,284,89,645,384,643,65,765
4,101021011,9241,921,470,2081,1464,2261,146,2671

In [10]:
if "post_grad_degree_percent" not in df:
    df["post_grad_degree_percent"] = df["p_pgrad_deg_total"]/df["p_tot_total"] 
    
if "post_grad_dip_cert_percent" not in df:
    df["post_grad_dip_cert_percent"] = df["p_graddip_and_gradcert_total"]/df["p_tot_total"] 
    
if "bach_degree_percent" not in df:
    df["bach_degree_percent"] = df["p_bachdeg_total"]/df["p_tot_total"] 
    
if "diploma_percent" not in df:
    df["diploma_percent"] = df["p_advdip_and_dip_total"]/df["p_tot_total"] 
    
if "certificate_percent" not in df:
    df["certificate_percent"] = df["p_cert_lev_tot_total"]/df["p_tot_total"]
    
if "bach_post_grad_percent" not in df:
    df["bach_post_grad_percent"] = (df["p_pgrad_deg_total"] + df["p_graddip_and_gradcert_total"] + df["p_bachdeg_total"])/df["p_tot_total"]

In [11]:
df_columns = list(df)
missing_df = missing_values(df, df_columns)
missing_df

                    column_name total_missing
0             sa2_maincode_2016             0
0                   p_tot_total             0
0             p_pgrad_deg_total             0
0  p_graddip_and_gradcert_total             0
0               p_bachdeg_total             0
0        p_advdip_and_dip_total             0
0           p_cert_iii_iv_total             0
0             p_cert_i_ii_total             0
0          p_cert_lev_tot_total             0
0      post_grad_degree_percent            48
0    post_grad_dip_cert_percent            48
0           bach_degree_percent            48
0               diploma_percent            48
0           certificate_percent            48
0        bach_post_grad_percent            48

In [12]:
# Replace the NaN's created by calculation
df.fillna(0, inplace = True)

In [13]:
df_columns = list(df)
missing_df = missing_values(df, df_columns)
missing_df

                    column_name total_missing
0             sa2_maincode_2016             0
0                   p_tot_total             0
0             p_pgrad_deg_total             0
0  p_graddip_and_gradcert_total             0
0               p_bachdeg_total             0
0        p_advdip_and_dip_total             0
0           p_cert_iii_iv_total             0
0             p_cert_i_ii_total             0
0          p_cert_lev_tot_total             0
0      post_grad_degree_percent             0
0    post_grad_dip_cert_percent             0
0           bach_degree_percent             0
0               diploma_percent             0
0           certificate_percent             0
0        bach_post_grad_percent             0

In [14]:
# Write data to disk
df.to_csv(output_folder + output_name, index = False)